.iput-password{
    background-color: transparent !important;
    box-shadow: none !important;
border: none;
   
    border-bottom: 1px solid lightslategray !important;
    outline: none !important;
}